<div class="container col-4 fp">
  <div class="main-content card card-block ">
    <div class="text-center p_20">
      <h2>Location</h2>
    </div>
    <hr/>
    <div class="card-body login-form">
      <div class="w_100">
        <strong>Name:</strong>
        <%= @camp_location.name%>
      </div>
      <%= link_to 'Back' ,admin_panel_camp_locations_path,class: 'btn btn-success d-flex justify-content-center'%>
    </div>
  </div>
</div>
