<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<div id="main"> 
  <div class="container mt-5" > 
    <div class="main-content card card-block">
      <div class="text-center pt-4 pb-3">
        <h4>Users for Test Resident Camp</h4>
        <div class="row">        
          <div class="col">
            <%= form_with method: :get, local: true do |f| %>
              <%= f.text_field :search,value: params[:search] ,class:'mt-1' %>
              <%= f.submit 'Search' ,class:'btn btn-success btn-sm ml-2 '%>
            <% end %> 
          </div>
        </div>
        <%= render(partial: 'list', locals: { user: @users})%>
        </div>
      </div>
    </div>
  </div>
</div>










