<h3 class="text-center"> Technology Requirements </h3>
		<%= f.label :tech_reqs %><br />
		<%= f.text_field :tech_reqs %>
	</p>

<p><%= f.submit "Complete", name: "complete_button", class: 'btn btn-success' %></p>