<h3 class="text-center"> Technology Requirements </h3>
		<%= f.label :technology_requirements %><br />
		<%= f.text_field :technology_requirements %>
	</p>
<p class="d-flex justify-content-end"><%= f.submit "Complete", name: "complete_button", class: 'btn btn-success' %></p>