// Place all the styles related to the home_page_admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#logo{
	width:80px;
	height:80px;
}

.image-upload > input
{
   display: none;
}
.image-upload > label{
  cursor:pointer;
}

.img-circular{
 width: 170px;
 height: 170px;
 margin: 0 auto;
 background-size: cover;
 display: block;
 border-radius: 100px;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
}
.form-content{
	
	padding: 20px;
}

#container{
	width:100%;
	padding-left:50px;
	padding-right:50px;
}

#left{
float:left;
font-weight:bold;
}

#right{
float:right;
}

#center{margin:0 auto;width:100px;}

 .buttons:hover{
  background-color: #86F786;
	
}


.table_icons{
	color:#06810C;
	font-size:10px;
}

#profile-pic{
	
}

#profile-pic.active{
	left:-100px;
}

#sidebar{
	position:fixed;
	width:200px;
	height:100%;
	background:#06810C; 
	top:60px;
	left:-200px;
	transition: all 500ms linear;
}

#sidebar.active{
	left:0px;
}

#main
{
	margin:0px;
	transition: all 500ms linear;
}
#main.active
{
	margin-left:150px;
	transition: all 500ms linear;
}

#sidebar ul li
{
	color:rgba(230,230,230,0.9);
	list-style:none;
	padding:15px 10px;
	border-bottom:1px solid rgba(100,100,100,0.3);
}

#sidebar .toggle-btn{
	position:absolute;
	left:230px;
	top:20px;

}

#sidebar .toggle-btn span
{
	display:block;
	width:30px;
	height:5px;
	background:#151719;
	margin: 5px 0px;
}

.pretty th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.pretty th .asc {
  /*background-image: url(/images/up_arrow.gif);*/
}

.pretty th .desc {
  /*background-image: url(/images/down_arrow.gif);*/
}