.any_links:hover{
  background-color: #fff
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.back {
  background: url( asset-path('back.jpeg') );
  background-size: 100% 100%;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover; 
  margin: 0 auto!important;  
  
}

.quantity::-webkit-inner-spin-button, 
.quantity::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.fs {
  font-size: 12px;
}

.w_100 {
	width: 100%;
}

.p_20 {
  padding-top: 20px;
}

.ptlr_20 {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.pa_20 {
  padding: 20px;
}

.wid_mt {
  width: 30rem;
  margin-top: 40px;
}

.g_color {
	color: #57a22b !important;
}

.w_color {
  color: #fff !important;
}

.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;   
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.m-110 {
  margin-left: 110px;
}

.fpe {
  margin-top: 140px;
}

.fp {
  margin-top: 190px;
}

.si {
  margin-top: 100px;
}

.su {
  margin-top: 40px;
}

.mb {
  margin-bottom: 10px;
} 
